* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

.container {
    padding: 20px;
}

body {
    background-color: rgb(228, 228, 228);
}

header {
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 24px;
    padding: 10px;
    background-color: teal;
    color: whitesmoke;
}

.wrapper {
    padding: 10px 0;
}

.score {
    height: 80px;
}

.game-canvas {
    border: 2px solid rgb(44, 163, 172);
    height: 400px;
    width: 540px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    height: 120px;
    width: 120px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: teal;
    color: teal;
    font-size: 0;
    transition: .3s;
}

.hide {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 20px;
    color: tomato;
}

.complete {
    background-color: white;
    color: black;
    font-size: 20px;
}

.card:active {
    /* transition: 1s; */
}

.winning {
    position: absolute;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 10px;
    background-color: white;
    padding: 20px;
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.winning button {
    margin: 10px;
    outline: none;
    padding: 4px;
    font-weight: 500;
    border: 1px solid;
    border-bottom: 5px solid;
}

.winning button:active {
    transform: translateY(5px);
    border-bottom: none;
}

@media screen and (max-width:677px) {
    .container {
        padding: 0px;
    }
    .game-canvas {
        width: 90%;
        height: 420px;
    }
    .card {
        width: 80px;
        height: 90px;
    }
}